@import "../../../../styles/_variables.scss";

.hero {
  height: calc(100vh - 89px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    width: 242px;
    height: 242px;
    position: relative;
    display: none;

    @include mq("sm") {
      display: block;
    }
  }

  img {
    border-radius: 50%;
    z-index: 1;
    // box-shadow: inset 0 0 0 0 100vmax rgba(color("primary"), 0.13);
  }
}

.circle {
  width: 248px;
  height: 248px;
  border-radius: 50%;
  background-color: var(--primary);
  position: absolute;
  top: -256px;
  left: 8px;
}

.overlay {
  width: 242px;
  height: 242px;
  border-radius: 50%;
  position: absolute;
  top: -492px;
  background-color: rgba(var(--primary), 0.12);
  z-index: 2;
}

.down {
  position: absolute;
  bottom: 28px;
  cursor: pointer;
}
