@import "../../styles/variables";

.navbar {
  display: flex;
  justify-content: space-evenly;

  a {
    color: color("black");
    padding: 32px;
  }

}

.active {
  color: color("primary") !important;
}
