@import "../../styles/variables";

.navbar {
  display: flex;
  justify-content: space-evenly;

  a {
    color: var(--black);
    text-decoration: none !important;
    background-color: transparent !important;
    padding: 32px;
  }

  button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 2px solid var(--black);
    background-color: transparent;
    color: var(--black);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.active {
  color: var(--primary) !important;
}
