@import '../../../styles/_variables.scss';

.projectHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: color("white");
  padding: 90px;
  border-radius: 36px;
  box-shadow: 15px 15px 0 color("primary");

  h2 {
    font-size: 48px;
    color: color("primary");
  }
}

