$colors: (
  lightTheme: (
    "primary": #7827ca,
    "black": #4d4d4d,
    "bg": #f1f1f1,
    "white": #ffffff,
  ),
  darkTheme: (
    "primary": #7827ca,
    "black": #f0f6fc,
    "bg": #161b22,
    "white": #121212,
  ),
);

$screens: (
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
);

@function color($key, $theme) {
  @return map-get($colors, $theme, $key);
}

@mixin mq($key) {
  $size: map-get($screens, $key);

  @media (min-width: $size) {
    @content;
  }
}
