@import "./variables";

.heading {
  color: color("primary")
}

.icons {
  a {
    margin-right: 12px;
    font-size: 20px;
    color: #4d4d4d;
  }
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactCard {
  margin-top: 16px;
  background-color: color("white");
  box-shadow: 15px 15px 0 color("primary");
  padding: 40px;

  h4 {
    margin-bottom: 18px;
  }

  input, textarea {
    outline: 0;
    border: 0;
    background-color: #e7e7e7;
    padding: 10px 15px;
    font-size: 14px;
    color: #4d4d4d;
    border-radius: 4px;
    display: block;
    margin: 10px 0;
    width: 100%;
    @include mq("md") {
      width: 60%;
    }
    @include mq("lg") {
      width: 40%;
    }
  }

  button {
    background-color: color("primary");
    color: color("white");
    padding: 8px 24px;
    border: 0;
    border-radius: 4px;
  }
}
