@import "./variables";

.projectCard {
  background-color: color("white");
  border-radius: 36px;
  padding: 32px;
  display: flex;

  img {
    object-fit: cover;
    border-radius: 50%;
  }
}

.largeProjectCard {
  grid-column: 1 / span 2;
  background-size: cover;
  height: 150px;
  color: color("white");
  position: relative;

  div {
    position: absolute;
    bottom: 0px;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    padding: 14px 10%;
  }

  &::before {
    content: '';
    position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 32px;
		background: rgba(black, 0.6);
		z-index: 2;
		transition: 0.5s;
		opacity: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
    }

    div {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.allProjects {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  @include mq("md") {
    grid-template-columns: 1fr 1fr;
  }

  div {
    margin-left: 16px;
  }
}
